/* Banner and Heading */
.back {
  background-image: url("images/banner.jpg");
  color: white;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  align-content: center;
}

.nav-link {
  color: white;
}

.jumbotron {
  margin: 100px;
  margin-top: auto;
  margin-left: 250px;
  margin-right: 250px;
  padding-top: 200px;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: transparent;
}

.btn {
  margin: 50px;
}

.header {
  overflow: hidden;
  background-image: url("images/banner.jpg");
  position: fixed;
  top: 0;
  width: 100%;
}

.text {
  font-family: 'Open Sans', sans-serif;
}



/* Features */
.features {
  padding-bottom: 50px;
  /* margin: 25px 25px 25px 25px; */
  /* padding: 25px 25px 25px 25px; */
}

.feature-table {
  border: none;
  table-layout: auto;
  width: 75%;
  height: 300px;
}

td {
  padding: 10px 10px 10px 10px;
  text-align: center;
  vertical-align: text-top;
  font-size: x-small;
  color: gray;
}

/* Works - the image gallery */
.works {
  float: left;
  width: 25%;
}
