/* Banner and Heading */
.back {
  background-image: url("images/banner.jpg");
  color: white;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  align-content: center;
}

.logo {
  align-content: center;
  width: 30%;
  margin-left: 35%;
}

.nav {
  padding: 5px 5px 10px 5px;
}

.nav-link {
  color: white;
}

li {
  align-content: center;
}

.jumbotron {
  margin: 0px 250px 0px 250px;
  padding-top: 200px;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: transparent;
}

.btn {
  margin: 50px;
}

.header {
  overflow: hidden;
  background-image: url("images/banner.jpg");
  position: fixed;
  top: 0;
  width: 100%;
}

.text {
  font-family: 'Open Sans', sans-serif;
}



/* Features */
.features {
  /* padding-bottom: 50px; */
  padding: 70px 70px 70px 70px;
  /* margin: 25px 25px 25px 25px; */
  /* padding: 25px 25px 25px 25px; */
}

.feature-table {
  border: none;
  table-layout: auto;
  width: 75%;
  height: 150px;
}

/* table{
  border: none;
  table-layout: auto;
  width: 75%;
  height: 300px;
} */

td {
  padding: 20px 20px 20px 20px;
  text-align: center;
  vertical-align: text-top;
  font-size: x-small;
  color: gray;
}


/* Works - the image gallery */
img {
  width: 25%;
  float: left;
}

/*   Download */
.container {
  margin-top: 35%;
  text-align: center;
}


/* Footer */

footer {
  background-image: url("images/banner.jpg");
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: x-small;
  margin-top: 5%;
}

.footer-top {
  padding-top: 40px;
}

td.footer-text {
  table-layout: fixed;
  width: 30%;
  padding: 20px 20px 20px 20px;
  text-align: center;
  vertical-align: text-top;
  font-size: x-small;
  color: white;

}

.footer-bottom {
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 20px 0px 20px 0px;
  color: gray;
}

span {
  color: white;
}
